# Byte-compiled / optimized / DLL files
/__pycache__/
*.py[cod]
*$py.class
/__pycache__/models.cpython-36.pyc
/__pycache__/forms.cpython-36.pyc

# Flask stuff:
instance/
.webassets-cache

# Environments
/venv/
.venv
venv/

# secret_key
.sh
