{% extends "layout.html" %} {% block title %} About {% endblock %} {% block content %}

<style>
  .about-section {
    margin-top: 60px;
    font-family: "Georgia";
  }
  div.about {
    font-family: "Georgia";
    width: auto;
    max-width: 500px;
  }
</style>
<main class="about-section">
  <div class="container">

    <h2>About Recipe Finder</h2>
    <hr>
    <div class = "about"> Recipe Finder is the final project for the Advanced Python(CIS4930).
        It is a multiuser, web application that uses the Edamam API for recipes and nutrition information.
        With Recipe Finder users can perform personalized searches for the ingredients they have available and they are shown a list of all possible recipies with these ingredients.
        <br> <br>
        <p><h4>The Recipe Finder Team:</h4>
        Anthony Accomando<br>
        Jorge Medrano<br>
        Malavkumar Patel<br>
        Christopher Salgado<br>
        Akshat Shah</p>
    </div>

  </div>
</main>
{% endblock %}
