<div class=background>

  <style>
    .hero-section {
      margin-top: 60px;
    }

    .background {
      margin-top: 20px;
      background-color: #464646;
      background-image: url("static/img/background5.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
      background-attachment: fixed;
      height: 100%;
      overflow: scroll;
    }

    .btn-primary {
      background: #4285f4;
      border: 1px solid #1266f1;
      color: #ffffff;
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0.23px;
      padding: 12px 32px;
      text-align: center;
      text-transform: uppercase;
      box-shadow: 2px 5px 10px 2px #000;
    }

    input::placeholder {
      color: black;
      font-size: 22px;
      font-weight: bold;
      font-style: italic;
      text-align: center;
    }

    .row {
      background-color: white;
      width: 90%;
      opacity: .9;
    }

    .entry {
      background-color: white;
      opacity: 1;
      float: left;
      display: inline;
    }
  </style>

  {% extends "layout.html" %} {% block title %} Home {% endblock %}

  <link href="{{ url_for('static', filename='js/main.js') }}" /> {% block content %}
  <main class="hero-section">
    <div class="container">
      <div class="section">
        <div class="nav">
          <form method="POST" action="/home">
            {{ form.hidden_tag() }}

            <div class="form-group">
              {% if form.ingredient.errors %} {% for error in form.ingredient.errors %}
              <p class="error-message">{{ error }}</p>
              {% endfor %} {% endif %} {{ form.ingredient(placeholder="Explore recipes") }}
            </div>

            {{ form.submit(class="btn-primary") }}
          </form>

          <div class="container-fluid">
            <div class="row">
              {% for recipe in recipe_list %}
              <div class="entry">
                <button type="submit" onclick="alert('This recipe has been saved!')">Bookmark</button>

                <h3>{{ recipe['name'] }}</h3>
                <img src="{{ recipe['image'] }}">

                <p>For preparation: click <a href="{{ recipe['url'] }}">instructions</a></p>
                <hr> {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </main>


  {% endblock %}