<div class=background>

  <style>
    .background {
      margin-top: 20px;
      background-color: #464646;
      background-image: url("static/img/background2.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
      background-attachment: fixed;
      height: 100%;
      overflow: scroll;
    }

    .section-content {
      margin-top: 50px;
      background-color: white;
      padding: 40px;
      border: 3px;
      border-radius: 12px;
      border-color: red;
      opacity: .82;
      box-shadow: 3px 6px 12px 5px #000;
    }
  </style>

  {% extends "layout.html" %} {% block title %} User Signup {% endblock %} {% block content %}
  <main class="container signup-section">
    <div class="section-content">

      <h2>Create an account</h2>

      <form method="POST" action="/signup">
        {{ form.hidden_tag() }}

        <div class="form-group">
          {{ form.first_name.label }} {% if form.first_name.errors %} {% for error in form.first_name.errors %}
          <p class="error-message">{{ error }}</p>
          {% endfor %} {% endif %} {{ form.first_name }}
        </div>

        <div class="form-group">
          {{ form.last_name.label }} {% if form.last_name.errors %} {% for error in form.last_name.errors %}
          <p class="error-message">{{ error }}</p>
          {% endfor %} {% endif %} {{ form.last_name }}
        </div>

        <div class="form-group">
          {{ form.email.label }} {% if form.email.errors %} {% for error in form.email.errors %}
          <p class="error-message">{{ error }}</p>
          {% endfor %} {% endif %} {{ form.email }}
        </div>

        <div class="form-group">
          {{ form.password.label }} {% if form.password.errors %} {% for error in form.password.errors %}
          <p class="error-message">{{ error }}</p>
          {% endfor %} {% endif %} {{ form.password }}
        </div>

        {{ form.submit(class="btn-primary") }}
      </form>

    </div>
  </main>
  {% endblock %}
</div>